body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Boîte de chat */
.chatbox {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: #444;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chatbox-header {
    padding: 10px;
    background-color: #555;
    border-bottom: 1px solid #333;
    text-align: center;
    font-weight: bold;
}

.chatbox-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: 200px;
}

.chatbox-input {
    display: flex;
    border-top: 1px solid #333;
}

.chatbox-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #222;
    color: #fff;
}

.chatbox-input button {
    padding: 10px;
    background-color: #666;
    border: none;
    color: #fff;
    cursor: pointer;
}

.chatbox-input button:hover {
    background-color: #777;
}

.message {
    margin-bottom: 10px;
}
